*{
    margin: 0;
    box-sizing: border-box;
}
.container_main{
    display: grid;
    grid-template-columns: 450px auto;
    max-width: 1400px;
    margin: 3rem auto;
    gap: 2rem;
}

.registro_product h2{
    
    background: #1aa7f8;
    color: white;
    text-align: center;
    padding: 0.620rem;
}

.registro_product{
    border: 1px solid #1aa7f8;
}

.boxs{
    display: flex;
    justify-content: space-between;
}