body{
    background: #f0efef;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.container{
    position: relative;
    background-color:rgba(255, 255, 255, 0.457);
    backdrop-filter: blur(2px);
    z-index: 200;
}

